@use "/src/styles/variables.scss";

.root {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
}

.contact {
	align-self: end;
	display: flex;
	column-gap: 0.5em;
	align-items: end;
	margin: 1em;
	flex-wrap: wrap;
	flex-direction: column;

	.social {
		display: flex;
		column-gap: 1em;
		a {
			color: unset;
			text-decoration: none;
		}
	}
}

.documents {
	display: flex;
	justify-content: space-evenly;
}

.text {
	text-align: center;

	

	&Header {
		font-size: 1.17em;
		font-weight: bold;
		color: variables.$text-color;
	}

	&Links {
		margin: 50px 0 50px 0;
	}

	&Wrapper {
		width: 100%;
		margin: 0 50px 0 50px;
		display: flex;
		align-items: center;

		> div {
			width: 100%;
		}
	}
}
