@use "/src/styles/variables.scss";

.root {
	position: fixed;
	display: inline-flex;
	padding-left: 50px;
	width: 100%;
	flex-wrap: wrap;
	background-color: variables.$text-area-background-color;
	z-index: 9;
	a {
		text-decoration: none;
		color: variables.$text-color;
	}
}

.projects {
	width: 100%;
	display: flex;
	h4 {
		margin: 0.5em 0 0.5em 0;
	}
}

.link {
	padding-left: 10px;
	padding-right: 10px;
}
